body {
    margin: 0px;
    color: white;
    background-color: rgb(51, 51, 51);
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page {
    background-color: rgb(77, 77, 77)
}

#InputChat {
    width: 90%;
    padding: 0px;
    margin: 0px;
    border-radius: 15px;
    height: 30px;
    background-color: rgb(64, 64, 64);
    border: 3px solid;
    border-color: rgb(115,115,115);
}




#SendButton {
    background-color: rgb(64, 64, 64);
    border: 3px solid;
    border-color: rgb(115,115,115);
    border-radius: 5px;
    width: 10%;
    height: 30px;
    float: right;
}

#Home-Button-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    float: left;
    margin: 0.5%;
}

.ButtonLayOut {
    background-color: rgb(64, 64, 64);
    border: 3px solid;
    border-color: rgb(115,115,115);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0.5%;
    display: table;
    float: left;
    color:white;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: rgb(51,187,255);
    border-radius: 15px;
}

.photo {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


.CreatorImg {
    float: right;
    height: 100%;
    padding-left: 5px;
}

.ReciverImg {
    float: left;
    height: 100%;
    padding-right: 5px;
}

.MessageContainerChildCreatorMessages {
    float: right;
}

.MessageContainerChildReciverMessages {
    float: left;
}

#MessageConatiner {
    width: 100%;
    height: 87vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: white;
    background-image: linear-gradient(rgb(64, 64, 64),rgb(38, 38, 38) );
}

.CreatorMessages {
    background-color: rgb(64, 64, 64);
    border: 3px solid;
    border-color: rgb(115,115,115);
    border-radius: 5px;
    padding: 10px;
    float: left;
    display: table;
    border-radius: 15px;
}

.ReciverMessages {
    background-color: rgb(64, 64, 64);
    border: 3px solid;
    border-color: rgb(115,115,115);
    border-radius: 5px;
    padding: 10px;
    float: right;
    display: table;
    border-radius: 15px;
}

.creatorMessagesContainer, .reciverMessagesContainer {
    margin: 10px 0px;
}

#Username-Chat {
    float: left;
    margin: 0px 10px;
}


#ReciverInfo {
    background-color: rgb(77, 77, 77);
    width: 100%;
    height: 10%;
}

#ImgAndUsername {
    margin-right: 50%;
    float: right;
    display: flex;
    align-items: center;
    margin-top: 1%;
}



#SendButton-Container {
    background-color: rgb(38, 38, 38);
}


#UserPhoto {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: left;
    background-color: rgb(64, 64, 64);
    border: 3px solid;
    border-color: rgb(115,115,115);
}


.DeleteIcon {
    width: 20px;
    height: 20px;
    float: right;
}

.Message {
    float: left;
}

input[type="text"] {
    background-color: rgb(179, 179, 179);
    margin: 0px;
    width: 100%;
}
