* {
    margin: 0px;
    color: white;
}
#LoginAndRedirect-Container,#Login-Main, #Register-Main, #Register-Container, #Login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

#Login-container, #Register-Container {
    width: 100%;

}

#Login-Main, #Register-Main {
    width: 100%;
    background-image: linear-gradient(rgb(64, 64, 64),rgb(38, 38, 38) );
    height: 100%;

}

#ButtonRegister {
    margin: 20px;
    width: 10%;
}

#Button-Login, #Button-Register {
    background-color: rgb(64, 64, 64);
    border: 3px solid;
    border-color: rgb(115,115,115);
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    margin: 20px;
}

.Button-Redirect {
    background-color: rgb(64, 64, 64);
    border: 3px solid;
    border-color: rgb(115,115,115);
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration:none;
    margin:5px;
}

.RedirectDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:20px;
}

#inputSearch, .inputlogin {
    padding: 5px;
    margin: 10px 0px;
    border-radius: 15px;
}

.Login-Input, .Register-Input {
    padding: 2px;
    margin: 10px 0px;
    border: 3px solid;
    border-color: rgb(115,115,115);
    border-radius: 5px;
}
input[type="text"], input[type="password"] {
    background-color: rgb(179, 179, 179);

    width: 100%;
}
.Register-Paragraph {
    text-align: center;
    width: 10%;
}
.Register-ParagraphFiles {
    text-align: center;
    max-width: 11%;
    margin:20px;
}

.Login-Paragraph {
    text-align: center;
}

#CustomFile-Label {
    padding: 10px 50px; 
    cursor: pointer;
    text-align: center;
    background-color: rgb(64, 64, 64);
    border: 3px solid;
    border-color: rgb(115,115,115);
    border-radius: 5px;
    font-weight: bold;
    text-decoration:none;
    
   
}

#CustomFiles {
    display: none;
}


.Form {
    width: 100%;
   margin:80px;
}

.validation-errors {
    margin: 10px;
    display: inline-block;
}

li, .Error-Register {
    list-style-type: none;
    margin: 10px 0px;
    font-weight: bold;
}

ul {
    padding: 0px;
}
