@page "/MainPage"
@using SocialMediaPlatform.Models
@using SocialMediaPlatform.Services
@using SocialMediaPlatform.Services.Interfaces
@inject IPostsService _PostService;
@inject IPostGetter _PostGetter;
@inject IUserGetter _UserGetter;
@inject ILikeGetter _LikeGetter;
@inject ILikeService _LikeService;
@inject IJSRuntime JSRunTime;

<link href="css/MainPageStyle.css" rel="stylesheet">

<div id="AddPost">
	<h2>Add Post</h2>
	<br />
	<input type="text" id="Add-Post-Content" placeholder="Enter Content" @bind="PostContent" />
	<br />
	<button id="Add-Post-Button" @onclick="SavePost">Add</button>
</div>

<div id="PostsBlock">
	@if (Posts != null)
	{
		foreach (var Post in Posts)
		{
			<div class="Post">
				<div class="CreatorContainer">
					<div class="Creator-Img-Block">
						<img class="Creator-Img" src="/Icons/Like-Icon.png" />
					</div>
					<div class="Creator-Name-Block">
						@Post.Creator.UserName
					</div>
				</div>
				<div class="Post-Contnet-Block">
					<p class="Post-Content">@Post.Content</p>
				</div>
				<div class="Post-Reaction-Block">
					<div class="Likes">
						<div class="Like-Icon">
							<button id="Like-Button" @onclick="() => AddLike(Post.Id)">
								<img class="Like-Icon-Img" id="LikeIcon-@Post.Id" src="/Icons/Like-Icon1.png" />
							</button>
						</div>
						<div class="Likes-Numer">
							<p class="Likes-Number-Paragraph">@Post.NumberOfLikes</p>
						</div>
					</div>
					<div class="Comments-Stats">
						<div class="Comment-Icon">
							<img class="Comment-Icon-Img" src="/Icons/Comment-Icon.png" />
						</div>
						<div class="Comments-Number">
							<p class="Comments-Number-Paragraph">@Post.NumberOfComments</p>
						</div>
					</div>
				</div>
			</div>
			LoadLikes();
		}
	}
</div>

@code {
	private List<PostModel> Posts;
	private UserModel User;
	private string PostContent;

	protected override async Task OnInitializedAsync()
	{
		User = await _UserGetter.GetLoggedUser();
		await GetPosts();
	}


	private async Task AddLike(string PostId)
	{
		//pobiera posty bez lajkow nie wiem czemu
		var Post = await _PostGetter.GetPostsById(PostId);
		var like = await _LikeGetter.GetCurrentLikeModel(PostId, User.Id);
		if (Post.Likes.Where(like => like.UserId == User.Id).Any())
		{
			await _LikeService.AddLikeModel(PostId, User.Id);
			ChangeSrc("LikeIcon-" + PostId, "/Icons/Like-Icon2.png");
		}
		else
		{
			await _LikeService.RemoveLikeModel(PostId, User.Id);
			ChangeSrc("LikeIcon-" + PostId, "/Icons/Like-Icon1.png");
		}
	}

	private async Task GetPosts()
	{
		Posts = await _PostGetter.GetPosts();
	}

	private async Task SavePost()
	{
		var post = new PostModel
			{
				Content = PostContent,
				CreatorId = User.Id,
				Creator = User
			};
		PostContent = "";
		await _PostService.AddPost(post);
		await GetPosts();
	}


	private void LoadLikes()
	{
		
		foreach(var Post in Posts)
		{
			if (Post.Likes.Where(x => x.UserId == User.Id) != null)
			{
				ChangeSrc("LikeIcon-" + Post.Id, "/Icons/Like-Icon2.png");
			}

		}
		
	}
	private void ChangeSrc(string ElementId, string NewSrc)
	{
		JSRunTime.InvokeVoidAsync("ChangePhoto", ElementId, NewSrc);
	}

	private string GetLikeIconSrc(string postId)
	{
		var like = _LikeGetter.GetCurrentLikeModel(postId, User.Id);
		return "/Icons/Like-Icon1.png";

	}
}
